.item-description-container {
    margin-left: 20px;
    grid-area: description;
}

.item-description-header {
    display: flex;
}

img {
    width: 25%;
    margin: auto;
}

.item-description-title {
    width: 75%;
    margin-left: 10px;
}

.item-description-details p {
    margin: 0;
}