.header {
    grid-area: head;
}

.first-line {
    display: flex;
    justify-content: space-between;
}

.bookmarks ul {
    width: 100%;
    border-radius: 5px;
    display: flex;
    padding: 0;
    flex-wrap: wrap;

}

.btn-success {
    flex-grow: 1;
}

